*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Liberation Sans', Arial, Helvetica, sans-serif;
}

:root {
  --dark: #333;
  --medium: #777;
  --light: #ccc;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 1rem;
}

/* Header */

header {
  margin-bottom: 30px;
}
