* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #aaa; */
}

body {
    font-family: 'Liberation Sans', Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
}

label {
    display: block;
}

.container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 0 1rem;
}

p {
    margin-bottom: 1rem;
}

input {
    width: 100%;
    padding: 0.5rem;
}
