*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Liberation Sans', Arial, Helvetica, sans-serif;
}

:root {
  --dark: #333;
  --medium: #777;
  --light: #ccc;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 1rem;
}

/* Header */

header {
  margin-bottom: 30px;
}

/* Form and Input */

.form-control {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid var(--light);
  border-radius: 5px;
}

.btn {
  background-color: var(--dark);
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-link {
  background-color: transparent;
  padding: 0 3px;
  border-radius: 5px;
  cursor: pointer;
}

.form-input-filter {
  width: 100%;
  color: var(--medium);
  padding: 0.4rem;
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid var(--light);
  outline: none;
}

#list > div {
  border: 1px solid var(--light);
  border-radius: 5px;
  padding: 0.7rem;
  margin-bottom: 1rem;
}

/* Items */

.items li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  border: 1px solid var(--light);
  border-radius: 5px;
  margin: 0 0.3rem 1rem;
  padding: 0.5rem 0.7rem;
}

.btn-clear {
  border: 1px solid var(--light);
  border-radius: 5px;
  padding: 0.5rem;
  background-color: transparent;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
