* {
    border: red solid;
    margin: 0px;
    padding: 0px;
    /* box-sizing: content-box; */
    box-sizing: border-box;
}

body {
    font-family: 'Liberation Sans', Arial, Helvetica, sans-serif;
}

.box {
    background-color: coral;
    max-width: 400px;
    margin: 20px;
    padding: 100px;
}
